<%= form_with(model: [channel, comment]) do |form| %>
  <div class="form-group text-left pl-5">
    <%= form.label :content, class: "control-label" %>
    <%= form.text_area :content, class: "form-control" %>
  </div>
  <div class="actions">
    <%= form.submit t('submit.comment'), class: "btn btn-primary" %>
  </div>
<% end %>